<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commits</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Lista de Branches</h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>SHA do Commit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="branch : ${branches}">
                <td th:text="${branch.name}">nome</td>
                <td th:text="${branch.commit != null ? branch.commit.sha : '—'}">sha</td>
            </tr>
        </tbody>
    </table>
	
</body>
</html>