<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Commits</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
    <h1>Commits do Repositório</h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	<a/>
    <table>
        <thead>
            <tr>
                <th>SHA</th>
                <th>Autor (Login)</th>
                <th>Data de Criação</th>
                <th>Contribuidor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="commit : ${commits}">
                <td th:text="${commit.sha}">sha</td>
                <td th:text="${commit.authorLogin}">authorLogin</td>
                <td th:text="${commit.createdAt}">createdAt</td>
                <td th:text="${commit.contributor != null ? commit.contributor.name : 'Desconhecido'}">contributor</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
