<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commits</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Contribuidores do Repositório</h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contributor : ${contributors}">
                <td th:text="${contributor.id}">id</td>
                <td th:text="${contributor.name}">name</td>
                <td>
                    <a th:href="${contributor.url}" th:text="${contributor.url}" target="_blank">url</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
