<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commits</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Contribuidores do Repositório</h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>URL</th>
				<th>Quantidade de commits</th>
				<th>Quantidade de issues</th>
				<th>Porcentagem de commits</th>
				<th>Porcentagem de issues</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="rc : ${repositoryContributors}">
			    <td th:text="${rc.contributorId}">id</td>
			    <td th:text="${rc.contributorName}">name</td>
			    <td>
			        <a th:href="${rc.contributorUrl}" th:text="${rc.contributorUrl}" target="_blank">url</a>
			    </td>
			    <td th:text="${rc.commitsCount}">commits</td>
			    <td th:text="${rc.issuesCount}">issues</td>
				<td th:text="${#numbers.formatDecimal(rc.percentCommits, 1, 2)} + '%'"></td>
				<td th:text="${#numbers.formatDecimal(rc.percentIssues, 1, 2)} + '%'"></td>
			</tr>
        </tbody>
    </table>
</body>
</html>
