<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Dashboard</title>
	    <meta charset="UTF-8">
	    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
	</head>

<body>

<h1>Captura e controle de métricas do GitHub</h1>
<div class="container">

    <div class="form-section">
        <h3>Adicionar novo repositório:</h3>
        <form th:action="@{/view/import}" method="post">

            <label for="owner">Owner:</label>
            <input type="text" id="owner" name="owner" placeholder="Digite o nome de usuário do dono do repositório" required>

            <label for="repository">Repositório:</label>
            <input type="text" id="repository" name="repository" placeholder="Digite o nome do repositório" required>

            <label for="token">Token:</label>
            <input type="password" id="token" name="token" placeholder="Digite seu token do GitHub" required>

            <button type="submit">Adicionar repositório</button>
        </form>
    </div>

    <div class="menu-section">
        <h3>Visualizar dados já existentes:</h3>

        <form th:action="@{/view/repository-data}" method="get">
            <label for="repositoryId">Escolha um repositório:</label>
			<select id="repositoryId" name="repositoryId" required>
			    <option value="" disabled selected>Selecione um repositório</option>
			    <option th:each="repo : ${repositories}"
			            th:value="${repo.id}"
			            th:text="${repo.name + ' (' + repo.id + ')'}">
			    </option>
			</select>
			<label for="entity">Escolha qual tabela deseja visualizar:</label>
			<select id="entity" name="entity" required>
				<option value="" disabled selected>Selecione uma tabela</option>
				<option value="branches">Branches</option>
		        <option value="commits">Commits</option>
		        <option value="contributors">Contribuidores</option>
		        <option value="issues">Issues</option>
				<option value="repository">Repositório</option>
			</select>
						
			<button type="submit">Visualizar dados</button>
        </form>
    </div>

</div>

</body>
</html>
