<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Commits</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
    <h1>Issues do Repositório</h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Status</th>
                <th>Criada em</th>
                <th>Atualizada em</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="issue : ${issues}">
                <td th:text="${issue.id}">id</td>
                <td th:text="${issue.title}">title</td>
                <td th:text="${issue.state}">state</td>
                <td th:text="${#dates.format(issue.createdAt, 'dd/MM/yyyy HH:mm')}">created</td>
                <td th:text="${#dates.format(issue.updatedAt, 'dd/MM/yyyy HH:mm')}">updated</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
