<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Commits</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
    <h1 th:text="'Repositório: ' + ${repository.name}"></h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <tr>
            <td>ID:</td>
            <td th:text="${repository.id}"></td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><a th:href="${repository.htmlUrl}" th:text="${repository.htmlUrl}"></a></td>
        </tr>
        <tr>
            <td>Criado em:</td>
            <td th:text="${#dates.format(repository.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Atualizado em:</td>
            <td th:text="${#dates.format(repository.updatedAt, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Tamanho:</td>
            <td th:text="${repository.size}"></td>
        </tr>
        <tr>
            <td>Stars:</td>
            <td th:text="${repository.stargazers}"></td>
        </tr>
        <tr>
            <td>Watchers:</td>
            <td th:text="${repository.watchers}"></td>
        </tr>
        <tr>
            <td>Forks:</td>
            <td th:text="${repository.forks}"></td>
        </tr>
        <tr>
            <td>Issues abertas:</td>
            <td th:text="${repository.openIssues}"></td>
        </tr>
    </table>
</body>
</html>
