<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Commits</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
<body>
    <h1 th:text="'Repositório: ' + ${repository.name}"></h1>
	<a href="/view">
		    <button type="button">Voltar</button>
	</a>
    <table>
        <tr>
            <td>ID:</td>
            <td th:text="${repository.id}"></td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><a th:href="${repository.htmlUrl}" th:text="${repository.htmlUrl}"></a></td>
        </tr>
        <tr>
            <td>Criado em:</td>
            <td th:text="${#dates.format(repository.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Atualizado em:</td>
            <td th:text="${#dates.format(repository.updatedAt, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
		<tr>
		    <td>Tamanho:</td>
		    <td th:text="${repository.size + ' KB'}"></td>
		</tr>
        <tr>
            <td>Stars:</td>
            <td th:text="${repository.stargazers}"></td>
        </tr>
        <tr>
            <td>Watchers:</td>
            <td th:text="${repository.watchers}"></td>
        </tr>
        <tr>
            <td>Forks:</td>
            <td th:text="${repository.forks}"></td>
        </tr>
        <tr>
            <td>Issues abertas:</td>
            <td th:text="${repository.openIssues}"></td>
        </tr>
		</tr>
		<tr>
		    <td>Total issues:</td>
		    <td th:text="${repository.totalIssues}"></td>
		</tr>
		</tr>
		<tr>
		    <td>Total commits:</td>
		    <td th:text="${repository.totalCommits}"></td>
		</tr>
		<tr>
		    <td>Total contribuidores:</td>
		    <td th:text="${repository.totalContributors}"></td>
		</tr>
		<tr>
		    <td>Total média de issues por contribuidor:</td>
		    <td th:text="${#numbers.formatDecimal(repository.avgIssuesPerContributor, 1, 2)}"></td>
		</tr>
		<tr>
		    <td>Total porcentagem média de issues por contribuidor:</td>
		    <td th:text="${#numbers.formatDecimal(repository.avgPercentIssuesPerContributor, 1, 2)} + '%'"></td>
		</tr>
		<tr>
		    <td>Total média de commits por contribuidor:</td>
		    <td th:text="${#numbers.formatDecimal(repository.avgCommitsPerContributor, 1, 2)}"></td>
		</tr>
		<tr>
		    <td>Total porcentagem média de commits por contribuidor:</td>
		    <td th:text="${#numbers.formatDecimal(repository.avgPercentCommitsPerContributor, 1, 2)} + '%'"></td>
		</tr>
		<tr>
		    <td>Tempo de inatividade no repositório:</td>
		    <td th:text="${repository.inactivityDuration}"></td>
		</tr>
    </table>
</body>
</html>
